body{text-align: center;}


.coloured-section {
    background-color: #ff4c68;
    color: white;
    position: relative;
    z-index: 1;
    }

.white-section {
    background-color: white;
    color: black;
    position: relative;
    z-index: 1;
    }

h1, h2, h3, h4, h5, h6 {
    font-family:'montserrat'
    font-weight:900;
    }

h3 {font-weight: 800;}

/* NAVIGATION BAR NAVIGATION BAR NAVIGATION BAR NAVIGATION BAR NAVIGATION BAR NAVIGATION BAR*/

#title {
    position: sticky;
    top: 0;
    z-position: -1;
    }

.nava {color: white;}

.first-impression {
    font-family:'montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight:900;
    text-align: left;
    }

.container-fluid {padding: 3% 15%;}

.phone_image {
    transform: rotate(13deg);
    width: 55%;
    margin: 0px auto;
    position:relative;
    left:180px;
    }

.navbar {padding-bottom: 5%;}

.nav-item {padding: 0px 18px;}

.nav-link {
    font-family:'montserrat';
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight:400;
    color: white;
    }

.navbar-brand {
    font-family:'montserrat';
    font-size: 3rem;
    }

/* download buttons*/

.download-button {margin: 5% 3% 5% 0%;}

@media screen and (max-width: 1185px) {
    #title {
        position: relative;
        top: 0;
        z-position: -1;
        text-align: center;
        }
    .first-impression {
        text-align: center;
        font-size: 3rem;
        }
    .phone_image {
        position: static;
        transform: rotate(0deg);
        display: block;
        margin: auto;
        width: 50%;
        }
    }

/* USE TAGS  USE TAGS  USE TAGS  USE TAGS  USE TAGS  USE TAGS  USE TAGS */

.mid-row {margin: 6% -9%;}

.row-title {
    font-size: 1.5rem;
    color: #000;
    font-weight:900;
    }

.row-info {
    font-size: 1rem;
    color: #8f8f8f;
    font-weight:400;
    width: 250px;
    margin: auto;
    }

.icon {
    color: #ef8172;
    margin: 5% 0px 4% 0px;
    transition-duration: 0.4s;
    }

i.icon:hover {
    color: #ff4c68;
    transform-origin: 50% 50%;
    animation: pulse 2000ms;
    }

/* DOG TESTIMONIAL  DOG TESTIMONIAL  DOG TESTIMONIAL  DOG TESTIMONIAL  DOG TESTIMONIAL  DOG TESTIMONIAL  DOG TESTIMONIAL */

#testimonials {background-color: #ef8172;}

.dog-testimonial {
    font-family:'montserrat';
    font-weight:900;

    font-size: 2.5rem;
    line-height: 1.5;
    }

.dog-testimonial-image {
    width:20%;
    border-radius: 100%;
    margin: 20px;
    }

@media screen and (max-width: 800px) {
    .dog-testimonial {
           font-size: 1.8rem;
        }
    .dog-testimonial-image {
        width: 33%;
        }
    }

/* COMPANIES COMPANIES COMPANIES COMPANIES COMPANIES COMPANIES COMPANIES COMPANIES COMPANIES  */

.carousel-item {padding: 7% 15%;}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    }

.press-image {
    width: 10%;
    border-radius:100%;
    margin:20px 20px;
    }

@media screen and (max-width: 800px) {
    .press-image {
        width: 15%;
        }
    }

/* PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING */

#pricing {padding: 11% 5% 10% 5% ;}

.pricing-text{padding: 5% 0% ;}

.price-card {padding: 3% 2%;}

/* CTA  CTA  CTA  CTA  CTA  CTA  CTA  CTA  CTA  CTA  CTA  CTA  CTA  CTA  CTA  CTA  CTA  CTA  CTA  CTA  */

#cta {
    background-color: #ff4c68;
    position: relative;
    z-index: 1;
    padding: 5% 25% 8% 25%;
    }

.cta-header {
    font-size: 2.5rem;
    line-height: 1.5;
    color: white;
    padding: 5% 5% 0% 5%;
    }

.fa-brands{margin:0px 5px;}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

#footer {padding: 4% 0px;}

.footer-images {padding: 35px 20px;}

